<div class="container">
<h2 class="cocktail-name"><%= @cocktail.name %></h2>

<ul>

</ul>
  <% @cocktail.doses.each do |dose| %>
   <li class="list"><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete this dose", dose_path(dose), method: 'delete' %></li>
  <% end %>
</ul>

<p> <%= link_to 'New dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %></p>
<p><%= link_to "Back to cocktail list", cocktails_path %></p>

</div>
